---
http_interactions:
- request:
    method: get
    uri: https://vpnapi.io/api/1.2.3.4?key=fake-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "ip": "1.2.3.4",
            "security": {
                "vpn": true,
                "proxy": false,
                "tor": false,
                "relay": false
            },
            "location": {
                "city": "Cáceres",
                "region": "Extremadura",
                "country": "Spain",
                "continent": "Europe",
                "region_code": "EX",
                "country_code": "ES",
                "continent_code": "EU",
                "latitude": "39.4732",
                "longitude": "-6.3725",
                "time_zone": "Europe/Madrid",
                "locale_code": "en",
                "metro_code": "",
                "is_in_european_union": true
            },
            "network": {
                "network": "1.1.1.1/13",
                "autonomous_system_number": "AS3352",
                "autonomous_system_organization": "Company S.a.u.."
            }
        }
  recorded_at: Mon, 16 Jun 2025 15:01:46 GMT
recorded_with: VCR 6.3.1
